<div class="team__lightbox is-hidden">
  <!-- <div class="team-modal is-hidden"> -->
  <button class="modal-close">
    <svg class="close-svg" width="36" height="36">
      <use href="./images/icons.svg#icon-close"></use>
    </svg>
  </button>

  <ul class="team-list">
    <li class="team-card">
      <div class="team-card--thumb">
        <img class="team-card__image" src="https://source.unsplash.com/200x200?mountain" alt="" />
      </div>
      <article class="team-info">
        <h3 class="team-header">Маша</h3>
        <p class="team-position">scrum master</p>
      </article>
    </li>
    <li class="team-card">
      <div class="team-card--thumb">
        <img src="https://source.unsplash.com/200x200?tree" alt="" />
      </div>
      <article class="team-info">
        <h3 class="team-header">Алина</h3>
        <p class="team-position">team member</p>
      </article>
    </li>
    <li class="team-card">
      <div class="team-card--thumb">
        <img class="team-card__image" src="https://source.unsplash.com/200x200?sun" alt="" />
      </div>
      <article class="team-info">
        <h3 class="team-header">Алла</h3>
        <p class="team-position">team member</p>
      </article>
    </li>
    <li class="team-card">
      <div class="team-card--thumb">
        <img class="team-card__image" src="https://source.unsplash.com/200x200?beach" alt="" />
      </div>
      <article class="team-info">
        <h3 class="team-header">Настя</h3>
        <p class="team-position">team member</p>
      </article>
    </li>
    <li class="team-card">
      <div class="team-card--thumb">
        <img class="team-card__image" src="https://source.unsplash.com/200x200?forest" alt="" />
      </div>
      <article class="team-info">
        <h3 class="team-header">Леха</h3>
        <p class="team-position">team lead</p>
      </article>
    </li>
    <li class="team-card">
      <div class="team-card--thumb">
        <img class="team-card__image" src="https://source.unsplash.com/200x200?moon" alt="" />
      </div>
      <article class="team-info">
        <h3 class="team-header">Ренат</h3>
        <p class="team-position">head scrum master</p>
      </article>
    </li>
    <li class="team-card">
      <div class="team-card--thumb">
        <img class="team-card__image" src="https://source.unsplash.com/200x200?sky" alt="" />
      </div>
      <article class="team-info">
        <h3 class="team-header">Антон</h3>
        <p class="team-position">team member</p>
      </article>
    </li>
    <li class="team-card">
      <div class="team-card--thumb">
        <img class="team-card__image" src="https://source.unsplash.com/200x200?ocean" alt="" />
      </div>
      <article class="team-info">
        <h3 class="team-header">Андрей</h3>
        <p class="team-position">team member</p>
      </article>
    </li>
  </ul>
  <!-- </div> -->
</div>
